body {
	padding : 0;
	margin : 0;
}
.wrapper {
	height : 100%;
	width : 100%;
	font-family: sans-serif;
	background-color: rgba(0,0,0,0.9);
	box-shadow : inset 1px 1px 15px 15px rgba(0,0,0,0.9),
				 inset -1px -1px 15px 15px rgba(0,0,0,0.9);
}

table {
	position : absolute;
		top : 30%;
		left : 40%;
	padding : 10px;
	border-collapse: collapse;
	border-color : #FFF;
	box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.1);
	display: none
}
td {
	border : 2px rgba(0,0,0,0.3) solid;
	height : 5em;
	width : 6em;
	vertical-align: middle;
	background-color: #363636;
	-webkit-transition : all 0.3s ease-in;
}

td:hover {
	background-color: rgba(255,255,255,0.9);
	cursor : pointer;
}

.game-end {
	position: absolute;
		top : 65%;
		left : 46%;
	display : none;
}
.game-end p {
	font-size : 2em;
	font-family : 'Ubuntu', sans-serif;
	color : #808080;
	text-shadow : 1px 1px px rgba(0,0,0,0.9);
	font-variant: small-caps;
	-webkit-transition : all 0.3s ease-in;

}

.game-end p:hover {
	color : #F3F3F3;
	cursor : default;
}

.result {
	position: absolute;
		top : 75%;
		left : 45.9%;
	}
#cross-win, #nought-win, #draw {
	font-size : 2em;
	font-family : 'Ubuntu', sans-serif;
	color : #808080;
	text-shadow : 1px 1px px rgba(0,0,0,0.9);
	font-variant: small-caps;
	text-align : center;
	display : none;
}

#winner {
	color : #DD4B39;
}

.replay{
	position: absolute;
		top : 45%;
		left : 46.5%;
	display: none;
}

button {
	background : rgba(0,0,0,0.6);
	color : #F6F6F6;
	border : 1px rgba(0,0,0,0.9) solid;
	border-bottom-width : 2px;
	height : 60px;
	width : 120px;
	font-size: 1.2em;
	-webkit-box-shadow : inset 1px 1px 5px rgba(255,255,255,0.1),
				inset -1px -1px 5px rgba(255,255,255,0.1);
	-webkit-transition :all 0.3s ease-in;
	font-family: 'Ubuntu',sans-serif
}

button:hover {
	-webkit-box-shadow : inset 1px 3px 10px rgba(255,255,255,0.1);
	cursor: pointer;
}

button:active {
	border-top-width : 3px;
}

h1 {
	position: absolute;
		top : 5%;
		left : 38%;
	font-size : 4em;
	font-family: 'Ubuntu',sans-serif;
	font-variant: small-caps;
	font-weight: normal;
	color : rgba(0,0,0,0.6);
	text-shadow : 1px 1px 5px rgba(0,0,0,0.1);
	border-radius: 10px;
	-webkit-transition : all 0.3s ease-in;
}

h1:hover {
	text-shadow : 1px 1px 1px rgba(0,0,0,0.9);
	cursor: default;
}

.initial {
		position: absolute;
		top : 45%;
		left : 40.5%;
}
#about {
	margin-left : 30px;
}
#back {
	position: relative;
		left : -2%;
}

#home {
	position: absolute;
		top : 88%;
		left : 46.5%;
	display: none;
}
.about {
	position: absolute;
		top : 25%;
		left : 30.5%;
	display: none;
	width : 45%;
	height : 52%;
	padding: 10px 10px 0px 10px;
	font-size: 1.2em;
	font-family: 'Ubuntu',sans-serif;
	text-align : center;
	border : 1px rgba(0,0,0,0.9) solid;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.8),
				-3px -3px 5px rgba(0,0,0,0.8);
	line-height: 1.5em;
}
a {
	text-decoration: none;
	color : #E6E6E6;
}
